.choices
  = link_to 'O', result_quiz_path(step: params[:step], answer: :yes), class: 'choices__yes', remote: true
  = link_to 'X', result_quiz_path(step: params[:step], answer: :no), class: 'choices__no',remote: true
