
#{params[:step]}번 질문

.choices
  .choices__yes
    = link_to 'O', result_quiz_path(step: params[:step], answer: :yes), remote: true
  .choices__no
    = link_to 'X', result_quiz_path(step: params[:step], answer: :no), remote: true
