=render 'quiz_header', on_question: true

.quiz-header
  GM0 안전성을 둘러싼
  %br.visible-xs
  논쟁이 거세지자,
  %br.visible-xs
  2015년 러시아·유럽·
  %br.visible-xs
  미국 과학자들이
  %br.visible-xs
  ‘GMO가 암의 발생,
  %br.visible-xs
  생식력 저하 등을
  %br.visible-xs
  유발하는지를 규명하겠다’며
  %br
  가동시킨 팀의 이름은
  %br.visible-xs
  ‘팩트체크’다.　

=render 'choice'
