= image_tag 'step2/quiz-title.png', class: 'quiz-title'
.quiz-step-wrapper
  %hr
  .quiz-step-round-wrapper
    - (1..7).each do |step|
      - correrct_or_incorrect = (is_correct?(step.to_s) ? "correct" : "incorrect")
      - step_class = nil
      - if step == params[:step].to_i
        - if local_assigns[:on_question]
          - step_class = 'active-quiz'
        - else
          - step_class = correrct_or_incorrect
      - elsif params[:step].to_i > step
        - step_class = correrct_or_incorrect
      .quiz-step-round{id: step, class: step_class}
        = step
