.quiz-step-round-wrapper
  = image_tag 'step2/quiz-header-hr', class: 'quiz-step-hr'
  .quiz-step-round#1
    1
  .quiz-step-round#2
    2
  .quiz-step-round#3
    3
  .quiz-step-round#4
    4
  .quiz-step-round#5
    5
  .quiz-step-round#6
    6
  .quiz-step-round#7
    7
