=render 'quiz_header'

.quiz-header
  ‘GMO가 아닌 농산물’을
  %br.visible-xs-block
  ‘GMO가 아닌 농산물’이라
  %br.visible-xs-block
  부를(표시)할 수 없다.
.answer-x
  = image_tag 'step2/answer-x-discorrect.png'.answer-description
  놀랐지?
  %br.hidden-xs
  식약처는
  ‘GMO-free(무유전자변형식품)’,
  ‘Non-GMO(비유전자변형식품)’
  표시를 한 매장을
  단속한 적이 있어.
  %br.hidden-xs
  콩·옥수수 등 현행법상
  GMO 표시 대상이 아닌
  농산물·가공식품에
  표시를 했다는 이유야.
  %br.hidden-xs
  지난 4월21일
  = link_to '행정예고한 고시에도', 'http://parti.xyz/articles/2048', target: '_blank'
  이런 조항을 담았어.

=render 'quiz_navigator'
