=render 'quiz_header'

.quiz-header
  중국은
  %br.visible-xs-block
  ‘GMO 표시계’에선
  %br.visible-xs-block
  미국을 이긴다.
.answer-x
  = image_tag 'step2/answer-x-discorrect.png'
.answer-description
  중국은 GMO를 원료로 하는
  모든 식품에 GMO 표시를 해야해.
  %br.hidden-xs
  어쩌다가 0.1%의 GMO가 섞여도
  표시에 예외란 없어.
  %br.hidden-xs
  GMO완전표시제를 채택한
  = link_to '유럽연합(EU)보다도 강한 기준', 'http://parti.xyz/articles/2135', target: '_blank'
  이야.

=render 'quiz_navigator'
