=render 'quiz_header'

.quiz-header
  GMO는
  %br.visible-xs
  ‘General Motors Operation’
  %br.visible-xs
  의 줄임말이다.
.answer-o
  = image_tag 'step2/answer-o-discorrect.png'
.answer-description
  안 웃겼으면 미안!
  %br.visible-xs
  1번부터 어려우면 머리 아프잖아.
  %br
  GMO는 ‘Genetically Modified Organism’의 줄임으로,
  %br
  유전자변형식품이란 뜻이야.　

=render 'quiz_navigator'

