=render 'quiz_header'

.quiz-header
  ‘콩 100%로 국내에서
  %br.visible-xs-block
  직접 만든 콩기름’은
  %br.visible-xs-block
  GM콩을 쓰지
  %br.visible-xs-block
  않았다는 뜻이다.
.answer-x
  = image_tag 'step2/answer-x-correct.png'
.answer-description
  = link_to '썼을 수도 있고 아닐 수도 있어.', 'http://parti.xyz/articles/1941', target: '_blank'
  %br.hidden-xs
  지금 법에서는 GMO을
  식품 원료로 사용했더라도
  단백질이나 DNA가
  최종 제품에 남아 있지 않으면
  GMO로 표시할 필요가 없거든.


=render 'quiz_navigator'
