=render 'quiz_header'

.quiz-header
  4. 통일벼, 씨없는 수박은 한국형 GMO다.
.answer-x
  = image_tag 'step2/answer-x-correct.png'
.answer-description
  얘네처럼 같은 종이나 아주 가까운 종끼리 교배하는 전통적
  = link_to "'교잡육종'은", 'http://parti.xyz/articles/2134', target: '_blank'
  %br
  긴 시간 동안 이뤄져 안정성에는 문제가 없대.
  %br
  GMO는 전혀 다른 종으로부터 DNA를 재조합시켜
  %br
  전혀 새로운 변형생물체를 만드는 기술을 말해.
  %br
  그래서 유전적 불안전성이 증가한다는 주장이 나오는 거야.

=render 'quiz_navigator'
