=render 'quiz_header'

.quiz-header
  중국은
  %br.visible-xs
  ‘GMO 표시계’에선
  %br.visible-xs
  미국을 이긴다.
.answer-x
  = image_tag 'step2/answer-x-discorrect.png'
.answer-description
  중국은 GMO를 원료로 하는
  %br.visible-xs
  모든 식품에 GMO 표시를 해야해.
  %br
  어쩌다가 0.1%의 GMO가 섞여도
  %br.visible-xs
  표시에 예외란 없어.
  %br
  GMO완전표시제를 채택한
  %br.visible-xs
  = link_to '유럽연합(EU)보다도 강한 기준', 'http://parti.xyz/articles/2135', target: '_blank'
  이야.

=render 'quiz_navigator'
