- opinions ||= Opinion.in_debate(debate).recent.page(1)
%a{id: "opinion-anchor-#{debate.slug}"}
= render opinions

.opinions-pagination
  = paginate opinions, remote: true, params: { controller: :opinions, action: :index, debate_slug: debate.slug}
