!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}
    = display_meta_tags
    = stylesheet_link_tag asset_data_base64('application.css')
    %link{href: "http://fonts.googleapis.com/earlyaccess/notosanskr.css", rel: "stylesheet"}
  %body(style='padding: 0;')
    %section.user-card{ style: "background-image: url(#{asset_data_base64('user-card-background.png')});" }
      .info
        %p
          나는
          %span
            %span.important-1> GMO완전표시제
            를
        %p
          지지하는
          %spna
            %span.important-2> #{@user.sequential_id}
            번째
        %p
          당원입니다.
