이 메일은 GMO 완전표시제 도입을 바라는
= link_to @from_name, "mail_to:#{@from_email}"
당원이 작성한...


#{@to_name} 의원님!

이 편지는 한국에서 최초로 시작됐고, 의원님께 ‘행운’을 드리고자 전달 드립니다. 의원님께서 한국 시민들의 ‘알 권리’를 위해 앞장설 수 있는 행운입니다. 이 편지에 적힌 내용은 2016년이 지나기 전에 국회 보건복지위원회 전체 회의에서 논의되어야 합니다.


