.debates-index.hidden-xs
  .row
    .col-md-4
      .title{class: ("active" if debate.slug == 'overall_adoption')}
        = image_tag 'point_icon.png'
        1. GMO 완전표시제 시행 시기는?
    .col-md-4
      .title{class: ("active" if debate.slug == 'non_gmo')}
        = image_tag 'point_icon.png'
        2. GMO 표시 대상이 아닌 국내산 농산물에 Non-GMO(비GMO)라 표시해도 될까?
    .col-md-4
      .title{class: ("active" if debate.slug == 'exemption_range')}
        = image_tag 'point_icon.png'
        3. GMO 표시 면제 범위는?
