- if @comments.any?
  %hr
- @comments.recent.each do |comment|
  .comment
    .comment-meta
      %span.comment-name= comment.name
      %span.comment-created-at= date_f comment.created_at
    .comment-body
      = simple_format comment.body
  %hr
.comments-pagination
  = paginate @comments, remote: true
