.intro-panel-wrapper
  .intro-panel
    = image_tag "step3/key-visual.png", class:"intro-key-visual"
    .intro-description
      %p.description-title
        TO. 당원 여러분
      %p.description-content
        오로지 GMO 완전표시제 도입을 목표로 한,
        %br
        국내 최초 온라인 프로젝트 정당의 뼈와 살을 만들
        %br
        창당파티 준비모임에 참여하실 분을 모십니다!
      %p.description-content__box
        창당파티 준비위원이 한겨레21, 빠띠와 함께 할 일은?
        %br
        %br
        %b 1
        9월 초에 열 오프라인 창당 파티 준비
        %br
        %b 2
        ‘나는 알아야겠당’의 이념과 방향을 담은 강령(!)의 초안
        %br
        %b 3
        당수를 비롯한 당조직 구성 초안 마련
      %p.description-content
        세상 진지하고 유쾌한 정치 실험을 해보고 싶다면,
        %br
        아이디어 막던지기와 수다를 좋아한다면, 창준위원이 돼 주세요.
        %br
        새로운 정당을 ‘나는 만들어야겠당’ 하시는 분들은
        %br
        메일(trans@hani.co.kr) 로 연락주세요!

