.intro-panel-wrapper
  .intro-panel
    .intro-title
      바글시민 와글입법
    = image_tag "step3/key-visual.png", class:"intro-key-visual"
    .intro-description
      이번 GMO완전표시제법 발의안 쟁점은 뭘까?
      %br
      당원과 시민들이 의견을 낼 수 있는 기회!
      %br
      주요 쟁점 토론을 보고 참여해봐

