.intro-panel-wrapper
  .intro-panel
    - if browser.device.mobile?
      = image_tag "step3/key-visual-mobile.png", class:"intro-key-visual--mobile"
    - else
      = image_tag "step3/key-visual.png", class:"intro-key-visual"
    .intro-description

      %p.description-title
        TO. 당원 여러분
      %p.description-content
        오로지 GMO 완전표시제 도입을 목표로 한,
        %br
        국내 최초 온라인 프로젝트 정당
        %span
          %span.important<>
            ‘나는알아야겠당’ 창당파티
          를
        %br
        %span
          %span.important<>
            %b<> 9월 5일(월), 서울
            (달력 표시 필수!)
          에서 열 계획입니다!
      %p.description-content
        온오프라인 종횡무진 넘나들며 진행될 창당 파티에
        %br
        꼭 함께 해주셔요!
      .description-content__box
        %p.description-content__box--title
          어머, 이건 꼭 참여해야해 !
        %p.description-content__box--number1
          1
        %p.description-content__box--body
          ‘창당파티 준비모임’ 참여할 분도 계속 모십니다.
          %br
          %a(href='mailto:trans@hani.co.kr')
            %span.important<>
              trans@hani.co.kr
          로 연락주세요.

        %br
        %p.description-content__box--number2
          2
        %p.description-content__box--body
          당원 연락망 텔레그램과 카카오톡에 열었습니다.
          %br
          프로젝트 진행 상황 더 빠르고 가까이에서 전해드릴게요.
          %br
          아래
          %span
            = link_to '게시판 공지', 'http://up.parti.xyz/posts/774', target: '_blank', class: 'important'
          참조해주세요.

