.party-names
  - if browser.device.mobile?
    = image_tag "step2/naming-result-mobile.png"
  - else
    = image_tag "step2/naming-result.png"
  %p.parti-names-description
    정당 이름이 정해졌어
    %br
    당원들과 함께 퀴즈도 풀고, 활동을 제안해봐!
