%hr
%a{id: 'post-form-anchor'}
= render 'posts/form'

%a{id: 'posts-anchor'}
.post-page
  = render 'posts/post_page'
  - unless @posts.last_page?
    = link_to '더보기', posts_path
%a{id: 'post-list-anchor'}

