%a{id: 'post-panel-anchor'}
.posts-panel

  %h3.section-title ì ëŠ” ë‹¹

  = render 'posts/form'

  %a{id: 'posts-anchor'}
  .post-page
    = render 'posts/post_page', board_slug: Post::BOARD_SLUG_PARTY_BUILDING

  .post-search
    %form#post-search-form
      .form-group
        %input.search-query{:type => "text"}
        %button.btn{:type => "submit"}
          %i.fa.fa-search

