%a{id: 'post-panel-anchor'}
.posts-panel

  %h3.section-title.background-mint 적는 당

  = render 'posts/form'

  %a{id: 'posts-anchor'}
  .post-page
    = render 'posts/post_page', board_slug: Post::BOARD_SLUG_PARTY_BUILDING


