%a{id: 'post-panel-anchor'}
.posts-panel

  %h3.section-title.background-mint 활동 제안하기

  %a{id: 'post-form-anchor'}
  %p.description
    ‘나는 알아야겠당’ 당원으로 하고 싶거나,
    %br
    당원에게 이런 활동을 해줬으면 좋겠다고 제안해줘
    %i !
  = render 'posts/form', board_slug: @board_slug

  %a{id: 'posts-anchor'}
  .post-page
    = render 'posts/post_page', board_slug: @board_slug


