%a{id: 'post-panel-anchor'}
.posts-panel

  %h3.section-title.background-mint 의견 적기

  %a{id: 'post-form-anchor'}
  %p.description
    너의 의견을 남겨줘.
    %br
    법안에 어떤 내용이 담겼으면 하는지,
    %br
    우리 당이 어떻게 활동했으면 좋겠는지 모두 다 괜찮아
    %i !
  = render 'posts/form', board_slug: @board_slug

  %a{id: 'posts-anchor'}
  .post-page
    = render 'posts/post_page', board_slug: @board_slug


