%section#header
  .container.container-xs-space
    .top-menu
      %span
        = link_to '홈', root_path
      %span.pull-right
        - if user_signed_in?
          = link_to '로그아웃', destroy_user_session_path, method: :delete
        - else
          = link_to '당원가입 / 로그인', root_path(anchor: 'anchor-join')
%section#steps
  .container
    .row
      .project-steps
        .col-md-3
          .project-step1
            =link_to step1_path do
              발의할 법안 정하기
              %br
              6/7 ~ 6/26
        .col-md-3
          .project-step2
            =link_to step2_path, class:'active' do
              프로젝트 정당 만들기
              %br
              7/4 ~ 7/25
        .col-md-4
          .project-step3
            =link_to root_path do
              'GMO 완전표시제법' 발의안 쟁점토론
              %br
              7/25 ~
        .col-md-2
          .project-step-after
            =link_to root_path do
              발의, 당원활동
              %br
              (준비중)
