.vote-buttons{id: "bill-upvote-button-#{bill.id}"}
  = link_to upvote_bill_path(slug: bill.slug), method: :post, remote: true, class: "btn btn-default #{'disabled' if upvoted?(bill)}" do
    띄워요 #{bill.upvotes_count}명
