%section#about
  .container.about-container
    .about-image-wrapper
      = image_tag 'about.png', class: 'about-image'

    %h1.about-title
      온라인 프로젝트 정당,
      %br.visible-xs
      ‘나는 알아야겠당’을 소개합니다.

    %p.about-description
      %strong 오로지 ‘GMO 완전표시제법’ 국회 통과를 목적으로 창당한 ‘나는 알아야겠당’.
      %br
      온라인 플랫폼을 기반으로 특정 이슈를 해결하겠다며 시민들이 뭉친 국내 최초의 ‘온라인 프로젝트’ 정당입니다.
      %br
      정치권에
      %strong “우리를 진지하게 대하라, 우리한테 물어라, 우리를 참여시켜라.”
      하고 요구하고 싶은 사람이라면 누구나 당원이 될 수 있습니다. ‘GMO 완전표시제법’이 통과되는 순간 흩어지는 정당!
      단일 이슈(법안) 해결을 목적으로
      %span.no-wrap ‘온라인 프로젝트 정당’
      이 출범한 사례는 없었습니다. 세상에 없던 정당의 당원이 되세요!

      %br
      = link_to timeline_path, class: 'about-description__important about-description__underline', target: '_blank' do
        더 자세한 내용이 궁금하시다면?

    %h3.about-sub-title
      강령
    %p.about-description
      나는알아야겠당은 세상에 없던 정당. 당의 주인은 시민 당원이당. GMO완전표시제법의 탄생을 위해 뭉쳤당. 불꽃처럼 활동하고 연기처럼 사라진당.
    %p.about-description
      GMO가 안전한지 아닌지는 상관 없당. 우리 먹거리에 GMO가 포함되었는지 아닌지 알아야겠다라다라다라당. 알고나 먹자.
    %p.about-description
      GMO표시제는 이미 시행 중인 거 안당. 나는알아야겠당이 요구하는 것은 ‘완전’한 표시당. GMO가 식품에 단백질로 남아있든 아니든, 의도치 않게 섞여 있든 아니든 GMO가 원재료로 쓰였으면 모두 제대로 표시하도록 할 거당.
    %p.about-description
      나는알아야겠당은 온라인 광장에서 수다 떨고 투표한당. 이 광장에서 모든 당원과 조직은 ‘수직’이 아닌 ‘수평’으로 연결된당. ‘대표’는 필요 없당.
    %p.about-description
      나는알아야겠당은 GMO완전표시제 입법 과정에 직접 참여한당. 국회에만 맡기지 않는당. 정치인에게만 맡기지 않는당. 정부에게만 맡기지 않는당. ‘우리에게 물어라, 우리를 참여시켜라’고 말하고 싶은 당신, 나는알아야겠당에 초대한당.


    %h3.about-sub-title
      행동수칙
    %p.about-description
      %span.about-description__important.about-circled-number
        ①
      %span.about-description__normal
        건강하게 산당
    %p.about-description
      %span.about-description__important.about-circled-number
        ②
      %span.about-description__normal
        마트에 가면 GMO 표시가 있는지 찾아본당
    %p.about-description
      %span.about-description__important.about-circled-number
        ③
      %span.about-description__normal
        하루에 한 번 이상 업빠띠에 접속한당
    %p.about-description
      %span.about-description__important.about-circled-number
        ④
      %span.about-description__normal
        하루에 한 번 이상 지인에게 혹은 SNS에 자료를 공유한당
    %p.about-description
      %span.about-description__important.about-circled-number
        ⑤
      %span.about-description__normal
        - all_parties.each_with_index do |parti, index|
          - if index != 0
            &middot;
          %a(href="http://do.parti.xyz/p/#{parti[:slug]}" target='_blank') #{parti[:name]}
        중 한 곳 이상에서 활동한당
    %p.about-description
      %span.about-description__important.about-circled-number
        ⑥
      %span.about-description__normal
        당비는 액션별로 원하는 만큼 가능한 만큼 낸당. 단 모든 당비의 30%는 기본 운영비로 쓴당.
