%table
  %thead
    %tr
      %th 순서
      %th 제목
      %th 이름
      %th.post-created-at 일시
  %tbody
    = render @posts
    - if @posts.empty?
      %tr
        %td.empty(colspan=4)
          - if params[:q].present?
            '#{params[:q]}' 단어를 포함하는 글은 없어.
          - else
            첫 번째로 의견을 남겨줘
            %i !
= paginate @posts, params: { board_slug: board_slug, anchor: 'posts-anchor' }
