.board-tabs
  - Post::BOARDS.each do |tab_slug, tab_name|
    - if tab_slug == Post::BOARD_SLUG_BILL_CHOICE
      =link_to tab_name, step1_path(anchor: 'posts-anchor'), class: "board-tab"
    - else
      =link_to tab_name, root_path(board_slug: tab_slug, anchor: 'posts-anchor'), class: "board-tab #{'active' if tab_slug == board_slug}"
%table
  %thead
    %tr
      %th 순서
      %th 제목
      %th 이름
      %th 추천
      %th.post-created-at 일시
  %tbody
    = render @posts
    - if @posts.empty?
      %tr
        %td.empty(colspan=4)
          첫 번째로 의견을 남겨 보세요
          %i !
= paginate @posts, params: { board_slug: board_slug, anchor: 'posts-anchor' }
