%table
  %thead
    %tr
      %th 순서
      %th 제목
      %th 이름
      %th.post-created-at 일시
  %tbody
    = render @posts
    - if @posts.empty?
      %tr
        %td.empty(colspan=4)
          첫 번째로 의견을 남겨 보세요
          %i !
= paginate @posts, params: { board_slug: board_slug, anchor: 'posts-anchor' }
