.first-comment.help-block {
  margin-bottom: -14px;
  margin-top: 20px;
}

.comment-form {
  padding-top: 20px;
  padding-bottom: 16px;
  form.new_comment {
    display: none;
  }

  .help-block {
    text-align: center;
  }
}

.comment-content {
  border-bottom: 1px solid $border-gray-color;

  &:last-child {
    border-bottom: none;
  }

  .comment-meta-wrapper {
    padding: 10px 8px;

    .comment-meta {
      display: inline-block;
    }

    .comment-meta__label {
      color: $brand-gray-color;
      @media (min-width: $screen-sm-min) {
        width: 12%;
      }
      vertical-align: top;
      @media (max-width: $screen-xs-max) {
        span.date {
          margin-left: 14px;
        }
      }
    }

    .comment-meta__value {
      width: 87%;
    }

  }
}

.comments-panel {
  .pagination-wrapper {
    border-top: 1px solid $border-gray-color;
  }
}
