section#header {
  .navbar {
    background-color: $brand-primary;
    padding-top: 16px;
    border-bottom: 3px solid black;

    .container {
      @media (max-width: $grid-float-breakpoint-max) {
        width: 100%;
      }
    }
    li.divider {
      border-bottom: 1px solid $gray-lighter;
    }
    .navbar-collapse {
      padding-bottom: 6px;
      &.collapse.in,
      &.collapsing {
        background-color: $gray-lightest;
      }
      @media (max-width: $grid-float-breakpoint) {
        &.collapsing {
          position: static;
        }
        .collapse-hidden{
          display: none !important;
        }
        &.in {
          overflow-y: hidden;
        }
      }
      @media (min-width: $grid-float-breakpoint-max){
        &.collapse.uncollapse-hidden,
        .uncollapse-hidden {
            display: none !important;
        }
      }
    }
    .navbar-header {
      padding-bottom: 6px;
      .navbar-brand {
        margin-top: -26px;
        @media (max-width: $screen-xs-max) {
          margin-left: -56px;
        }
        img {
          width: 108px;
          @media (max-width: $screen-xs-max) {
            margin-left: 50px;
            width: 65px;
          }
        }
      }
      .navbar-toggle {
        &:hover,
        &:focus {
          background-color: $brand-primary-dark;
        }
        .icon-bar {
          background-color: white;
        }
        &.parties-collapse {
          padding: 6px;
          color: #fff;
        }
      }
    }

    .navbar-nav {
      font-size: $font-size-medium;

      li.menu {
        &,
        &.active,
        &.focus {
          &,
          .dropdown {
            & > a  {
              &:hover {
                color: #fff;
              }
              text-align: center;
              color: black;
              background-color: transparent;
            }
          }
          .parties-dropdown > a {
            &:hover {
              color: #fff;
              background-color: black;
            }
            text-align: center;
            color: black;
            border: 1px solid black;
            padding-top: 4px;
            padding-bottom: 4px;
            margin-top: 8px;
            margin-left: 40px;
            padding-left: 22px;
            padding-right: 22px;
            background-color: white;
            &.open {
              & > a,
              & > a:hover,
              & > a:focus {
                background-color: transparent;
                color: #fff;
              }
            }
          }
        }

        & > a:hover,
        &.active > a,
        &.focus > a {
          color: #fff;
          @media (max-width: $grid-float-breakpoint) {
            color: $brand-primary;
          }
        }
      }

      li.login {
        padding-left: 8px;
        margin-top: 8px;

        @media (max-width: $grid-float-breakpoint) {
          width: 100%;
        }

        & > a {
          font-size: $font-size-base;
          background-color: #fff;
          border: 1px solid black;
          padding: 4px 22px;

          &:hover {
            background-color: black;
            color: yellow;
          }

          @media (max-width: $grid-float-breakpoint) {
            width: 150px;
            margin-left: auto;
            margin-right: auto;
          }
        }

      }
    }

    .navbar-collapse.collapse.in,
    .navbar-collapse.collapsing {
      padding-top: 10px;
      border: none;
      box-shadow: none;

      .login {
        padding-left: 0;
        display: inline-block;
      }
    }
  }
  .receive-news {
    z-index: 1;
    position: fixed;
    right: 0;
    top: 75px;
    color: #fff;
    font-weight: 100;
    &__button,
    &__channels {
      display: inline-block;
      padding: 3px 6px;
      background-color: black;
    }
    &__button {
      vertical-align: top;
      position: relative;
      left: 4px;
      img {
        width: 16px;
        height: 16px;
      }
    }
    &__channels {
      width: 90px;
      border-left: 1px solid $gray-light;
    }
    &__channel {
      display: inline-block;
      text-align: center;
      img {
        width: 34px;
        margin-bottom: 8px;
      }
    }
    .receive-news__on {
      display: none;
    }
  }
}
