section#join {
  margin-bottom: 200px;
  background-color: #fafafa;
  @media (max-width: $screen-xs-max) {
    margin-top: -80px;
    margin-bottom: -28px;
  }

  .container {
    @media (max-width: $screen-xs-max) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .join-panel {
    margin-top: 20px;
    @media (max-width: $screen-xs-max) {
      margin: 0;
    }

    .join-after {
      margin-top: 48px;
      padding: 52px 50px 48px;
      border: 1px solid $brand-primary-lighter;
      background-color: #ffffff;
      text-align: center;
      font-size: $font-size-h3;
      @media (max-width: $screen-xs-max) {
        border: none;
        padding: 130px 30px 100px;
      }


      .join-after-description {
        margin-bottom: 20px;
        @media (max-width: $screen-xs-max) {
          font-size: $font-size-h3-small;
        }

        @media (max-width: $screen-xxs-max) {
          font-size: $font-size-medium;
        }

        .important {
          color: $brand-primary;
        }
      }

      .join-share-wrapper {
        .list-inline > li {
          padding-left: 2px;
          padding-right: 2px;
        }

        .join-share {
          .jssocials-share-logo {
            width: auto;
            height: 60px;
            cursor: pointer;
            @media (max-width: $screen-xs-max) {
              height: 42px;
            }
          }

          &__facebook {
            background-size: contain;
            background-image: asset_url('share-facebook-white.png');
            @media (max-width: $screen-xs-max) {
              background-image: asset_url('share-facebook.png');
            }

            &:hover {
              background-image: asset_url('share-facebook.png');
            }
          }
          &__twitter {
            background-size: contain;
            background-image: asset_url('share-twitter-white.png');
            @media (max-width: $screen-xs-max) {
              background-image: asset_url('share-twitter.png');
            }

            &:hover {
              background-image: asset_url('share-twitter.png');
            }
          }
          &__kakao {
            background-size: contain;
            background-image: asset_url('share-kakao-white.png');
            @media (max-width: $screen-xs-max) {
              background-image: asset_url('share-kakao.png');
            }

            &:hover {
              background-image: asset_url('share-kakao.png');
            }
          }
          &__kas {
            background-size: contain;
            background-image: asset_url('share-kas-white.png');
            @media (max-width: $screen-xs-max) {
              background-image: asset_url('share-kas.png');
            }

            &:hover {
              background-image: asset_url('share-kas.png');
            }
          }
        }

      }

    }

    .join-before {
      margin-top: 48px;
      padding: 52px 50px 48px;
      border: 1px solid $brand-primary-lighter;
      background-color: #ffffff;
      text-align: center;
      @media (max-width: $screen-xs-max) {
        border: none;
        margin-top: 0;
        padding: 140px 10px 70px;
      }

      &__title {
        font-size: $font-size-h3;
        margin-bottom: 20px;
        @media (max-width: $screen-xs-max) {
          font-size: $font-size-h3-small;
          margin-bottom: 22px;
        }
      }

      &__closing {
        font-size: $font-size-base;
        margin-top: 10px;
        @media (max-width: $screen-xs-max) {
          font-size: $font-size-small;
        }
      }

      &__button {
        display: inline-block;
        width: 420px;
        font-size: 24px;
        padding: 20px 0;
        text-align: left;
        margin-bottom: 12px;
        @media (max-width: $screen-xs-max) {
          font-size: $font-size-base;
          width: 244px;
          padding: 7px 0px;
          text-align: center;
          color: #fff !important;
        }

        &:hover {
          color: #fff;
          text-decoration: none;
        }

        &--facebook {
          border: 1px solid #06448d;
          color: #06448d;
          @media (max-width: $screen-xs-max) {
            background-color: #06448d;
          }

          &:hover{
            background-color: #06448d;
            .icon-image {
              background-image: asset_url('login-facebook-white.png');
            }
          }
        }

        &--twitter {
          border: 1px solid #469bff;
          color: #469bff;
          @media (max-width: $screen-xs-max) {
            background-color: #469bff;
          }

          &:hover{
            background-color: #469bff;
            .icon-image {
              background-image: asset_url('login-twitter-white.png');
            }
          }
        }

        &--naver {
          border: 1px solid #89d082;
          color: #89d082;
          @media (max-width: $screen-xs-max) {
            background-color: #89d082;
          }

          &:hover{
            background-color: #89d082;
            .icon-image {
              background-image: asset_url('login-naver-white.png');
            }
          }
        }

        .icon-image {
          background-size: contain;
          background-repeat: no-repeat;
          display: inline-block;
          @media (max-width: $screen-xs-max) {
            margin-left: 0 !important;
            margin-right: 0 !important;
          }


          &__facebook {
            width: 20px;
            height: 28px;
            margin-left: 42px;
            margin-right: 14px;
            margin-bottom: -4px;
            background-image: asset_url('login-facebook.png');
            @media (max-width: $screen-xs-max) {
              background-image: asset_url('login-facebook-white.png');
              width: 15px;
              height: 21px;
            }
          }
          &__twitter {
            width: 42px;
            height: 28px;
            margin-left: 20px;
            margin-right: 13px;
            margin-bottom: -3px;
            background-image: asset_url('login-twitter.png');
            @media (max-width: $screen-xs-max) {
              background-image: asset_url('login-twitter-white.png');
              width: 28px;
              height: 18px;
            }
            &:hover {
              background-image: asset_url('login-twitter-white.png');
            }
          }
          &__naver {
            width: 28px;
            height: 28px;
            margin-left: 31px;
            margin-right: 16px;
            margin-bottom: -6px;
            background-image: asset_url('login-naver.png');
            @media (max-width: $screen-xs-max) {
              background-image: asset_url('login-naver-white.png');
              width: 25px;
              height: 21px;
            }
            &:hover {
              background-image: asset_url('login-naver-white.png');
            }
          }
        }
      }
    }

    .join-benefit{
      font-size: $font-size-medium;
      margin-top: -1px;
      padding: 52px 50px 48px;
      border: 1px solid $brand-primary-lighter;
      background-color: #ffffff;
      line-height: $line-height-small;
      @media (max-width: $screen-xs-max) {
        border: none;
        border-top: 1px solid $brand-primary;
        padding: 30px 10px 40px;
      }


      &__title {
        font-weight: bold;
        color: $brand-primary
      }

      &__content {
        margin-top: 30px;
        @media (max-width: $screen-xs-max) {
          margin-top: 20px;
        }
      }
    }
  }
}
