section#header {
  .navbar {
    background-color: $brand-primary;
    padding-top: 16px;
    padding-bottom: 6px;
    border-bottom: 3px solid black;

    .navbar-header {
      .navbar-brand {
        margin-top: -26px;
        margin-left: -56px;
        img {
          width: 108px;
          @media (max-width: $screen-xs-max) {
            margin-left: 50px;
          }
        }
      }
      .navbar-toggle {
        &:hover,
        &:focus {
          background-color: $brand-primary-dark;
        }
        .icon-bar {
          background-color: white;
        }
      }
    }

    .navbar-nav {
      font-size: $font-size-medium;

      li.menu {
        &,
        &.active,
        &.focus {
          & > a {
            color: black;
            background-color: transparent;
          }
        }

        & > a:hover,
        &.active > a,
        &.focus > a {
          color: #fff;
          &:after {
            content: ' ';
            color: transparent;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 11px;
            border-width: 0 0 2px;
            border-style: solid;
            border-color: #fff;
          }
        }
      }

      li.parti > a {
        color: $brand-yellow-color;
        i {
          font-size: $font-size-small;
        }
      }

      li.login {
        padding-left: 64px;
        margin-top: 8px;
        margin-right: -100px;

        & > a {
          font-size: $font-size-base;
          background-color: #fff;
          border: 1px solid black;
          border-radius: 2px;
          padding: 4px 22px;

          &:hover {
            background-color: black;
            color: yellow;
          }
        }

      }
    }

    .navbar-collapse.collapse.in,
    .navbar-collapse.collapsing {
      padding-top: 40px;
      border: none;
      box-shadow: none;

      .login {
        padding-left: 0;
        margin: 2px 15px;
        display: inline-block;
      }
    }

    .receive-news {
      position: fixed;
      right: 0;
      top: 75px;
      color: #fff;
      font-weight: 100;
      &__button,
      &__channels {
        display: inline-block;
        padding: 3px 6px;
        background-color: black;
      }
      &__button {
        vertical-align: top;
        position: relative;
        left: 4px;
        img {
          width: 16px;
          height: 16px;
        }
      }
      &__channels {
        width: 90px;
        border-left: 1px solid $gray-light;
      }
      &__channel {
        display: inline-block;
        text-align: center;
        img {
          width: 34px;
          margin-bottom: 8px;
        }
      }
      .receive-news__on {
        display: none;
      }
    }

  }
}
