section#propositions {
  & > .container {
    padding-left: 0;
    padding-right: 0;
  }

  .panel-title {
    color: $brand-primary;
    font-size: $font-size-medium;
  }

  $propositions-border-color: $brand-primary-lighter;
  .propositions-tabs {
    border-bottom-color: $propositions-border-color;
    margin-top: 90px;
    @media (max-width: $screen-xs-max) {
      margin-top: -15px;
    }
    & > li {
      width: 50%;
      a {
        border-radius: 0;
        margin-right: 0;
        color: $brand-gray-color;
        padding-top: 33px;
        padding-bottom: 12px;
        text-align: center;
        background-color: $gray-lighter;
        border-bottom-color: $propositions-border-color;
        img {
          width: 80px;
          position: absolute;
          top: -55px;
          @media (max-width: $screen-xs-max) {
            width: 50px;
            display: block;
            position: relative;
            top: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 4px;
          }
        }
        .proponent {
          font-size: $font-size-h3;
          @media (max-width: $screen-xs-max) {
            font-size: $font-size-large;
          }
        }
      }
      &.active {
        a,
        a:hover,
        a:focus {
          color: $gray-darker;
          border-color: $propositions-border-color;
          border-bottom-color: transparent;
          background-color: #fff;
        }
      }

      @media (max-width: $screen-xs-max) {
        a,
        &.active a {
          border-top: none;
        }
        &.active {
          &:first-child {
            a,
            a:hover,
            a:focus {
              border-left-color: transparent;
            }
          }
          &:last-child {
            a,
            a:hover,
            a:focus {
              border-right-color: transparent;
            }
          }
        }
      }
    }
  }
  .proposition {
    border: 1px solid $propositions-border-color;
    border-top: transparent;
    background-color: #fff;

    @media (max-width: $screen-xs-max) {
      border: none;
    }

    .body-panel,
    .comments-panel,
    .steps-panel {
      padding: 70px 50px;
      @media (max-width: $screen-xs-max) {
        padding: 20px 13px;
      }
    }
    @media (max-width: $screen-xs-max) {
      .steps-panel {
        padding-bottom: 10px;
      }
    }
    .body-panel,
    .comments-panel {
      border-bottom: 1px solid $propositions-border-color;
    }
    .body-panel {
      .body {
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: $font-size-medium;
        @media (max-width: $screen-xs-max) {
          padding-top: 14px;
        }
      }
      .show-more {
        text-align: center;
        padding-top: 50px;
      }
    }

    .comments-panel {
      .comments {
        .comment:first-child {
          border-top: 2px solid $border-gray-color;
        }
        .comment {
          border-bottom: 1px solid $border-gray-color;
        }
      }
    }

    .steps-panel {
      .steps {
        padding-top: 20px;
        img {
          width: 100%
        }
      }
    }
  }
}
