section#debate-do {
  background-color: $input-border;

  .debate-title {
    text-align: center;
    padding-top: 30px;
  }

  .debate-subtitle {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 30px;
  }

  .debate-topic {
    background-color: #fff;
    padding-bottom: 14px;
    margin-top: 20px;

    .debate-topic-title {
      text-align: center;
      color: black;
      padding-top: 30px;
      font-size: 36px;
    }

    .debate-topic-subtitle {
      text-align: center;
      padding-top: 10px;
      font-size: 28px;
      @media (max-width: 767px) {
        font-size: 24px;
        padding-left: 12px;
        padding-right: 12px;
      }
    }

    .debate-topic-options {
      text-align: center;
      font-size: 18px;
      color: #bfbfbf;
      padding-top: 10px;
      margin-bottom: -16px;
    }

    .debate-topic-description {
      background-color: $input-border;
      padding: 10px 20px;
      margin: 32px 50px 20px 50px;
      @media (max-width: 767px) {
        margin: 30px 14px 20px;
      }
    }

    .debate-panel {
      .new_opinion {
        margin: 10px 50px;
        background-color: $input-border;
        padding: 16px;
        @media (max-width: 767px) {
          margin: 20px 14px 20px;
        }

        .opinion-name {
          padding: 8px 12px;
          display: inline-block;
          padding-bottom: 6px;
          width: 200px;
          @media (max-width: 767px) {
            width: 100px;
          }
        }
        .opinion-body {
          width: 100%;
          height: 100px;
          padding: 8px 12px;
        }
        .opinion-submit {
          background: $brand-lime-color;
          color: #fff;
          font-weight: 100;
          font-size: 14px;
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-top: -10px;
        }
      }

      .opinions-pagination {
        text-align: center;
        color: #5d5d5d;
        text-align: center;
        font-size: $font-size-small;
        a, a:hover, a:visited, a:active, a:focus {
          color: #5d5d5d;
          font-weight: bold;
        }
        li.next a, li.prev a {
          float: initial;
        }
      }

      .opinion {
        margin: 6px 50px 4px;
        padding: 12px 18px;
        @media (max-width: 767px) {
          margin: 10px 14px 10px;
        }

        &__choice {
          &.select_alpha {
            color: #00a0e9;
          }
          &.select_beta {
            color: #e5004f;
          }
          &.select_hold {
            color: #bfbfbf;
          }
        }

        &.select_alpha {
          border: 1px solid #00a0e9;
        }
        &.select_beta {
          border: 1px solid #e5004f;
        }
        &.select_hold {
          border: 1px solid #bfbfbf;
        }
      }
    }
    .debate-bar {
      height: 14px;
      left: 0;
      margin: 24px 50px 50px 50px;
      background-color: #e5004f;
      @media (max-width: 767px) {
        margin: 30px 14px 20px;
      }

      .debate-voted {
        height: 100%;
        background-color: #00a0e9;
      }
      .selected-group {
        padding-top: 4px;
        .selected-alpha-percentage {
          color: #00a0e9;
        }

        .selected-beta-percentage {
          color: #e5004f;
        }
      }
    }

    .debate-options {
      text-align: center;
      @media (max-width: 767px) {
        margin: 30px 14px 20px;
      }

      .option-alpha-button{
        display: inline-block;
        border-radius: 0;
        padding: 20px 60px;
        border: 1px solid #00a0e9;
        color: #00a0e9;
        text-decoration: none;
        @media (max-width: 767px) {
          padding: 10px 20px;
        }
        &.active {
          background-color: #00a0e9;
          color: #fff;
        }
        &:hover {
          background-color: rgba(0, 160, 239, 0.5);
          color: #fff;
        }
      }
      .option-beta-button{
        display: inline-block;
        border-radius: 0;
        padding: 20px 60px;
        border: 1px solid #e5004f;
        margin-left: 10px;
        color: #e5004f;
        text-decoration: none;
        @media (max-width: 767px) {
          padding: 10px 20px;
        }

        &.active {
          background-color: #e5004f;
          color: #fff;
        }
        &:hover {
          background-color: rgba(229,0,79,0.5);
          color: #fff;
        }
      }

      .option-hold-button{
        padding-top: 12px;

        a {
          color: #bfbfbf;
        }
      }
    }

    .before-option-select {
      text-align: center;
      background-color: $input-border;
      padding: 14px 20px;
      margin: 14px 50px 20px 50px;
      font-size: 14px;
      @media (max-width: 767px) {
        margin: 14px 14px 20px;
      }
    }
  }
}
