section#project-step1 {

  section#header {
    .top-menu {
      margin-top: 20px;
      margin-bottom: 18px;
      padding-left: 5%;
      padding-right: 5%;
      a {
        font-size: $font-size-base;
        color: $brand-primary;
      }
    }
  }

  section#steps {
    background-image: asset_url('step2/top-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .project-steps {
      img {
        width: 100%;
        height: auto;
      }
    }
  }


  section#nav {
    -webkit-box-shadow: 0px 5px 30px -5px rgba(210,210,210,1);
    -moz-box-shadow: 0px 5px 30px -5px rgba(210,210,210,1);
    box-shadow: 0px 1px 20px -5px rgba(210,210,210,1);
    ul {
      max-width: 500px;
      margin: 0 auto;

      li {
        text-align: center;
        width: 33.3%;
      }
      li + li {
        margin-left: 0
      }
      a {
        border-bottom: 4px solid #fff;
        font-size: 14px;
        color: #b297e4;
        padding: 20px 0;
        &:hover, a:focus {
          border-bottom: 4px solid #9672fb;
          border-radius: 0;
          font-weight: bold;
          background: none;
          color: #262626;
        }
      }
    }
  }

  section#intro {
    .container {
      padding-top: 55px;
      text-align: center;

      .title {
        .subtitle {
          font-size: 18px;
          padding: 10px 28px;
          border: 3px solid #966dfe;
          border-radius: 40px;
          color: #686868;
        }
        h1 {
          font-size: 68px;
          font-weight: 100;
          color: #585858;
          line-height: 80px;
          margin: 55px 0;
        }
      }
    }
  }

  section#description {
    text-align: center;

    @media (min-width: 768px) {
      background-image: image_url('description-background-desktop.png');
    }
    background-image: image_url('description-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position:
    bottom; height: 310px;


    .container {
      h2, h2 a, h2 a:hover, h2 a:focus, h2 a:active {
        outline: 0;
        text-decoration: none;
        font-size: 16px;
        font-weight: 200;
        color: #5d5d5d;
        line-height: 30px;

        span.color1 {
          color: #bdb9e9;
        }
        span.color2 {
          color: #8ec8c7;
        }
      }

      h2 a:hover {
        text-decoration: underline;
      }
    }
  }

  section#video {
    background-color: rgb(152, 190, 242);
    padding-top: 20px;
    padding-bottom: 50px;

    .container {

      h2 {
        color: #fff;
        font-size: 26px;
        text-align: center;
        font-weight: 100;
        margin-top: 20px;
        margin-bottom: 30px;
        line-height: 30px;
      }

      p {
        text-align: center;
        color: rgb(93, 93, 93);
      }

      .bumgun-image {
        text-align: center;
        img {
          width: 130px;
        }
      }

      .video-slider {
        .item{
          margin-bottom: 60px;
        }
        .lSSlideOuter {
          text-align: center;
          ul.lSPager.lSGallery {
            display: inline-block;
            li {
              border-radius: 0;
              border: none;

              img {
                border: 4px solid rgb(152, 190, 242);
              }
              &.active img,
              &.active:hover img {
                border: 4px solid $brand-primary-dark;
              }
              &:hover img {
                border: 4px solid $brand-primary-light;
              }
            }
          }
        }
        .player {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 56.25%;
          margin-top: 40px;
          iframe {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

    }
  }

  section#banner {
    background-color: #eff1f6;
    padding-top: 20px;
    padding-bottom: 34px;

    .container {
      h2 {
        color: rgb(101,101,101);
        font-size: 26px;
        text-align: center;
        font-weight: 100;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      p {
        text-align: center;
        color: rgb(93, 93, 93);
      }
    }
  }

  section.bill {
    background-color: #eff1f6;
    padding-bottom: 2px;
    @media (min-width: 768px) {
      padding-bottom: 40px;
    }

    .container {
      @media (min-width: 768px) {
        background-size: cover;
      }
      background-position-x: center;
      padding-right: 0;
      padding-left: 0;
    }

    h2 {
      color: #fff;
      font-size: 2em;
      font-weight: 100;
      margin-top: 40px;
      margin-bottom: 40px;
      text-align: center;
    }

    .bill-show {
      height: 435px;
      position: relative;
      .bill-description {
        p {
          color: #fff;
          font-weight: 200;
          @media (min-width: 768px) {
            font-weight: 100;
          }
        }
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        @media (min-width: 768px) {
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }

    .bill-bar-group {
      margin-bottom: 30px;
      .bill-bar {
        height: 10px;
        left: 0;
        margin-bottom: 2px;
        background-color: $brand-primary-lighter;
        .bill-voted {
          height: 100%;
          background-color: $brand-primary;
        }
      }
    }

    .bill-vote {
      padding-left: 15px;
      padding-right: 15px;
      position: relative;
      @media (min-width: 768px) {
        padding-left: 50px;
        padding-right: 50px;
      }
      padding-bottom: 50px;
      color: #fff;

      .result {
        font-size: 1.1em;
        line-height: 22px;
        font-weight: 200;
        margin-bottom: 28px;

        .ratio {
          @media (min-width: 768px) {
            text-align: right;
          }
        }

        .person,
        .ratio {
          @media (max-width: 768px) {
            margin-top: 10px;
            text-align: center;
          }
        }

        .percentage,
        .count {
          color: $brand-primary-dark;
          font-size: 2.1em;
          font-weight: bold;
        }
        .count {
          font-size: 26px;
        }
        .count-label {
          font-size: 16px;
        }
      }

      .vote-button {
        text-align: center;
        margin-bottom: 28px;
        a {
          font-size: 22px;
          padding: 14px 26px;
          border-radius: 10px;
          box-shadow: 3px 4px 5px 0px rgba(4, 0, 0, 0.2);
          color: #966dfe;
          font-weight: 100;
          outline: none;
        }
      }
      .parti-link {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        a, a:active, a:hover, a:visited, a:focus {
          font-weight: 200;
          color: #fff;
          text-decoration: none;
        }
        a:hover {
          font-weight: 200;
          text-decoration: underline;
        }
      }
    }


    &.bill--minimum-wage {
      .bill-show .bill-description,
      .bill-vote {
        background-color: rgba(140, 196, 194, 0.97);
      }
    }

    &.bill--rent-ceiling {
      .bill-show .bill-description,
      .bill-vote {
        background-color: rgba(172, 185, 196, 0.97);
      }
    }

    &.bill--date-violence {
      .bill-show .bill-description,
      .bill-vote {
        background-color: rgba(234, 191, 192, 0.95);
      }
      .bill-show .bill-description,
      .bill-vote,
      .result {
        p, span {
          color: #585858;
        }
      }
    }

    &.bill--gmo-mark {
      @media (min-width: 768px) {
        padding-bottom: 40px;
      }

      h2 {
        color: #585858;
      }
      .bill-show .bill-description,
      .bill-vote {
        background-color: rgba(252, 218, 166, 0.94);
      }
      .bill-show .bill-description,
      .bill-vote,
      .result {
        p, span {
          color: #585858;
        }
      }
    }
  }

  section#article {
    padding-top: 20px;
    padding-bottom: 34px;
    background-color: #9672d3;

    .article-banner {
      background-repeat: no-repeat;
      background-position: center;
      height: 300px;
      h2 {
        color: #fff;
        font-size: 26px;
        text-align: center;
        font-weight: 100;
        padding-top: 230px;
        margin-bottom: 20px;
        margin-top: 0;
      }
      p {
        text-align: center;
        a {
          color: #fbe232;
        }
      }
    }
  }

  section#comments-list {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 12px;

    .container {
      h2 {
        color: $brand-primary;
        text-align: center;
        font-size: 26px;
        font-weight: 100;
        margin-top: 20px;
        margin-bottom: 24px;
        line-height: 32px;
      }
      p.desc {
        color: #5d5d5d;
        margin-bottom: 30px;
        text-align: center;
      }
    }

    .comment-button-container {
      text-align: center;
      margin-bottom: 40px;
      a, a:active, a:focus, a.active, a.active:focus {
        outline: 0;
        font-size: 22px;
        padding: 14px 26px;
        border-radius: 10px;
        box-shadow: 3px 4px 5px 0px rgba(4, 0, 0, 0.2);
        color: #966dfe;
        font-weight: 100;
        background-color: $brand-primary;
        color: #fff;
      }
    }

    .comments {
      margin-top: 30px;
      .comment {
        text-align: left;
        color: #5d5d5d;
      }
      .comments-pagination {
        text-align: center;
        color: #5d5d5d;
        text-align: center;
        font-size: 12px;
        a, a:hover, a:visited, a:active, a:focus {
          color: #5d5d5d;
          font-weight: bold;
        }
        li.next a, li.prev a {
          float: initial;
        }
      }
      hr {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .post-page {
        margin-top: 40px;
        @media (max-width: 767px) {
          font-size: $font-size-small;
          line-height: $line-height-small;
        }
        .board-tabs {
          display: none;
        }
        table {
          width: 100%;
          thead tr th {
            height: 46px;
            @media (max-width: 767px) {
              height: 23px;
            }
            text-align: center;
            background-color: $brand-primary;
            color: #fff;
            &.post-created-at {
              @media (max-width: 767px) {
                display: none;
              }
            }
          }
          tbody {
            tr {
              cursor: pointer;
              height: 46px;
              @media (max-width: 767px) {
                height: 23px;
              }
            }
            .post-id,
            .post-name,
            .post-created-at,
            .post-upvote {
              text-align: center;
            }
            .post-id {
              width: 10%
            }
            .post-upvote {
              width: 15%;
              @media (max-width: 767px) {
                display: none;
              }
            }
            .post-created-at {
              width: 15%;
              @media (max-width: 767px) {
                display: none;
              }
            }
            .post-name {
              width: 20%;
              @media (max-width: 767px) {
                width: 30%;
              }
            }
            .post-title {
              padding: 0 10px;
              width: 40%;
            }
            & > tr > td {
              border: 1px solid #eee;
              &.empty {
                text-align: center;
                height: 30px;
                cursor: initial;
              }
            }
            & > tr:hover {
              background-color: $brand-primary-light;
              a {
                color: $brand-primary;
              }
            }
          }
          a {
            color: #000;
          }
        }

        .pagination-wrapper {
          text-align: center;
          .pagination  {
            li > a {
              border-radius: 4px;
              color: #000;
            }
            li {
              padding-right: 5px;
              padding-left: 5px;
              &.next,
              &.prev {
                a {
                  float: initial;
                }
              }
            }
          }
        }
      }
  }

  section#footer {
    border-top: 1px solid #d2d2d2;
    background-color: #eff1f6;
    padding-top: 40px;
    padding-bottom: 30px;
    .container {
      text-align: center;
    }
    .logos li {
      padding: 0;
      margin: 0;
      width: 30%;

      img {
        max-width: 60px;
      }
    }
  }

  #comment-form {
    .modal-header {
      background-color: #9672d3;
      color: #fff;
      padding: 15px;
      border-bottom: 1px solid #eee;
      -webkit-border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -moz-border-radius-topleft: 5px;
      -moz-border-radius-topright: 5px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      h4 {
        text-align: center;
        font-weight: 200;
      }
    }
    .help-block {
      color: #999;
      font-weight: 100;
      font-size: 14px;
    }
    label {
      font-weight: 100;
    }
  }

  section#share {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #eff1f6;

    h2 {
      color: $brand-primary;
      text-align: center;
      font-size: 26px;
      line-height: 30px;
      font-weight: 100;
      margin-top: 20px;
      margin-bottom: 22px;
      @media (max-width: 767px) {
        font-size: 20px;
        margin-bottom: 12px;
      }
    }

    .share-box {
      text-align: center;
      .share-item {
        border-radius: 50%;
        padding: 1px 10px;
        font-size: 24px;
        line-height: 24px;
        width: 44px;
        height: 43px;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #fff;
        box-shadow: 1px 2px 5px 1px rgba(4, 0, 0, 0.2);
        .jssocials-share-count {
          display: none;
        }
        .jssocials-shares {
          margin: 0;
          .jssocials-share-facebook i {
            color: #3a5793;
          }
          .jssocials-share-twitter i {
            color: #55acee;
          }
        }
        &.share-kakao-link .icon-katalk {
          width: 20px;
          padding-top: 12px;
          margin-bottom: -5px;
        }
        &.share-kakao-story .icon-kas {
          padding-top: 11px;
          width: 10px;
          margin-bottom: -7px;
        }
      }
    }
  }
}
