section#debate-do {
  background-color: $input-border;

  .debate-title {
    text-align: center;
    padding-top: 30px;
  }

  .debate-subtitle {
    text-align: center;
    padding-top: 18px;
    padding-bottom: 30px;
  }

  .debate-topic {
    background-color: #fff;
    padding-bottom: 14px;
    margin-top: 20px;

    .debate-topic-title {
      text-align: center;
      color: black;
      padding-top: 30px;
      font-size: 36px;
    }

    .debate-topic-subtitle {
      text-align: center;
      padding-top: 10px;
      font-size: 28px;
      @media (max-width: 767px) {
        font-size: 24px;
        padding-left: 12px;
        padding-right: 12px;
      }
    }

    .debate-topic-options {
      text-align: center;
      font-size: 18px;
      color: #bfbfbf;
      padding-top: 10px;
      margin-bottom: -16px;
    }

    .debate-topic-description {
      background-color: $input-border;
      padding: 10px 20px;
      margin: 32px 50px 20px 50px;
      @media (max-width: 767px) {
        margin: 30px 14px 20px;
      }
    }

    .debate-panel {
      .new_opinion {
        margin: 10px 50px;
        background-color: $input-border;
        padding: 16px;
        @media (max-width: 767px) {
          margin: 20px 14px 20px;
        }

        .opinion-name {
          padding: 8px 12px;
          display: inline-block;
          padding-bottom: 6px;
          width: 200px;
          @media (max-width: 767px) {
            width: 100px;
          }
        }
        .opinion-body {
          width: 100%;
          height: 100px;
          padding: 8px 12px;
        }
        .opinion-submit {
          background: $brand-lime-color;
          color: #fff;
          font-weight: 100;
          font-size: 14px;
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-top: -10px;
        }
      }

      .opinions-pagination {
        text-align: center;
        color: #5d5d5d;
        text-align: center;
        font-size: $font-size-small;
        a, a:hover, a:visited, a:active, a:focus {
          color: #5d5d5d;
          font-weight: bold;
        }
        li.next a, li.prev a {
          float: initial;
        }
      }

      .opinion {
        margin: 6px 50px 4px;
        padding: 12px 18px;
        @media (max-width: 767px) {
          margin: 10px 14px 10px;
        }

        &__choice {
          &.select_alpha {
            color: #00a0e9;
          }
          &.select_beta {
            color: #e5004f;
          }
          &.select_hold {
            color: #bfbfbf;
          }
        }

        &.select_alpha {
          border: 1px solid #00a0e9;
        }
        &.select_beta {
          border: 1px solid #e5004f;
        }
        &.select_hold {
          border: 1px solid #bfbfbf;
        }
      }
    }
    .debate-bar {
      height: 14px;
      left: 0;
      margin: 24px 50px 50px 50px;
      background-color: #e5004f;
      @media (max-width: 767px) {
        margin: 30px 14px 20px;
      }

      .debate-voted {
        height: 100%;
        background-color: #00a0e9;
      }
      .selected-group {
        padding-top: 4px;
        .selected-alpha-percentage {
          color: #00a0e9;
        }

        .selected-beta-percentage {
          color: #e5004f;
        }
      }
    }

    .debate-options {
      text-align: center;
      @media (max-width: 767px) {
        margin: 30px 14px 20px;
      }

      .option-alpha-button{
        display: inline-block;
        border-radius: 0;
        padding: 20px 60px;
        border: 1px solid #00a0e9;
        color: #00a0e9;
        text-decoration: none;
        @media (max-width: 767px) {
          padding: 10px 20px;
        }
        &.active {
          background-color: #00a0e9;
          color: #fff;
        }
        &:hover {
          background-color: rgba(0, 160, 239, 0.5);
          color: #fff;
        }
      }
      .option-beta-button{
        display: inline-block;
        border-radius: 0;
        padding: 20px 60px;
        border: 1px solid #e5004f;
        margin-left: 10px;
        color: #e5004f;
        text-decoration: none;
        @media (max-width: 767px) {
          padding: 10px 20px;
        }

        &.active {
          background-color: #e5004f;
          color: #fff;
        }
        &:hover {
          background-color: rgba(229,0,79,0.5);
          color: #fff;
        }
      }

      .option-hold-button{
        padding-top: 12px;

        a {
          color: #bfbfbf;
        }
      }
    }

    .before-option-select {
      text-align: center;
      background-color: $input-border;
      padding: 14px 20px;
      margin: 14px 50px 20px 50px;
      font-size: 14px;
      @media (max-width: 767px) {
        margin: 14px 14px 20px;
      }
    }
  }
}

section#posts-do {
  padding-bottom: 30px;
  background-color: #fafafa;
  .posts-panel {
    margin-top: 20px;
    p.description {
      color: $brand-pink-color;
      font-size: 24px;
      @media (max-width: 767px) {
        font-size: $font-size-base;
        line-height: $line-height-base;
      }
      font-weight: 200;
    }
    .post-page {
      margin-top: 48px;
      padding: 52px 50px;
      border: 1px solid #ffbcdc;
      background-color: #ffffff;
      @media (max-width: 767px) {
        font-size: $font-size-small;
        line-height: $line-height-small;
      }
      .board-tabs {
        font-size: 16px;
        line-height: 100%;
        padding-bottom: 14px;
        .divider {
          color: #f5f5f5;
          padding-left: 12px;
          padding-right: 12px;
          font-size: 28px;
          vertical-align: middle;
        }
        a.board-tab {
          color: #5d5d5d;
          @media (max-width: 767px) {
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: $font-size-small;
          }
        }
        .board-tab.active {
          color: $brand-pink-color;
        }
      }
      .post-search {
        display: inline-block;
        margin-top: 10px;
        .post-search-info {
          color: #737373;
          margin-bottom: 10px;
        }
        .cancel-search {
          color: $brand-lime-color;
          text-decoration: underline;
        }
        .post-search-form {
          #post-search-form {
            position: relative;
            display: inline-block;
            .form-group {
              margin-bottom: 0;
            }
            .search-query {
              border: 1px solid #d2d2d2;
              border-radius: 0;
              height: 28px;
              padding-left: 10px;
              padding-right: 120px;
            }
            button {
              border: 0;
              background: rgba(255,255,255,.9);
              padding: 2px 5px;
              position: absolute;
              right: 0;
              color: #d2d2d2;
              height: 24px;
              margin: 1px;
              bottom: 0;
            }
          }
          .search-query:focus + button {
            opacity: 0.1;
          }
        }
      }
      .post-sort {
        display: inline-block;
        margin-top: 10px;
        .divider {
          color: #f5f5f5;
          padding-left: 8px;
          padding-right: 8px;
          font-size: 20px;
          vertical-align: middle;
        }
        a {
          color: #9b9b9b;
        }
        .post-sort.active {
          color: $brand-pink-color;
        }
      }
      table {
        width: 100%;
        thead {
          tr {
            border-top: 2px solid #dedede;
            border-bottom: 1px solid #dedede;
            th {
              color: #9b9b9b;
              font-weight: 400;
              text-align: center;
              padding-top: 5px;
              padding-bottom: 4px;
              @media (max-width: 767px) {
              }
              &.post-created-at,
              &.post-upvote {
                @media (max-width: 767px) {
                  display: none;
                }
              }
            }
          }
        }
        tbody {
          tr {
            cursor: pointer;
            height: 46px;
            @media (max-width: 767px) {
              height: 23px;
            }
          }
          .post-type {
            color: $brand-pink-color;
          }
          .post-type,
          .post-id,
          .post-name,
          .post-created-at,
          .post-upvote {
            text-align: center;
          }

          .post-id,
          .post-name,
          .post-created-at,
          .post-upvote {
            text-align: center;
            color: #9b9b9b;
          }

          .post-id,
          .post-type {
            width: 15%;
            .sticky-label {
              border: 1px solid $brand-pink-color;
              padding: 2px 6px;
              border-radius: 2px;
              color: $brand-pink-color;
            }
          }
          .post-title {
            padding: 0 10px;
            width: 45%;
            @media (max-width: 767px) {
              width: 60%;
            }
          }
          .post-upvote {
            width: 10%;
            @media (max-width: 767px) {
              display: none;
            }
          }
          .post-created-at {
            width: 15%;
            @media (max-width: 767px) {
              display: none;
            }
          }
          .post-name {
            width: 15%;
            @media (max-width: 767px) {
              width: 30%;
            }
          }
          & > tr > td {
            border-bottom: 1px solid #dedede;
            &.empty {
              text-align: center;
              height: 30px;
              cursor: initial;
            }
          }
          & > tr:hover {
            background-color: #ffbcdc;
            a {
              color: $brand-pink-color;
            }
          }
        }
        a {
          color: #000;
        }
      }

      .pagination-wrapper {
        text-align: center;
        .pagination  {
          li > a {
            border-radius: 4px;
            color: #000;
          }
          li {
            padding-right: 5px;
            padding-left: 5px;
            &.next,
            &.prev {
              a {
                float: initial;
              }
            }
          }
        }
      }
    }

    .post-writing-wrapper {
      text-align: center;

      .post-writing {
        background-color: #ec1179;
        margin-top: 20px;
        color: #fff;
        border-radius: 2px;
        padding: 8px 22px;
      }
    }
  }
}
