$brand-primary: #ec1179;
$brand-primary-lighter:   lighten($brand-primary, 30%);
$brand-primary-light:   lighten($brand-primary, 15%);
$brand-primary-dark:    darken($brand-primary, 15%);
$brand-primary-darker:    darken($brand-primary, 30%);

$container-sm: 768px;
$container-desktop: 768px;
$container-lg: 768px;

$input-border: #eeeeee;
$brand-red-color: #ec6941;
$brand-green-color: #89c997;
$brand-lime-color: #32b16c;
$brand-base-color: #eaf4eb;
$brand-cyan-color: #84ccc9;
$brand-base-color: #eaf4eb;
$brand-yellow-color: #fefd37;
$brand-gray-color: #9b9b9b;
$brand-lime-green-color: #18e21e;

$border-gray-color: #dedede;
$gray-lighter: #efefef;
$gray-darker: #111;
$gray-lightest: #f5f5f5;

$brand-step1-primary: #966fd6;
$brand-step1-primary-lighter:   lighten($brand-primary, 30%);
$brand-step1-primary-light:   lighten($brand-primary, 15%);
$brand-step1-primary-dark:    darken($brand-primary, 15%);
$brand-step1-primary-darker:    darken($brand-primary, 30%);

$font-size-medium: 16px;
$font-size-h3-small: 20px;

$border-radius-base: 2px;

/*
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
*/
$font-size-base:          14px !default;
$font-size-smaller: ceil(($font-size-base * 0.70));

$line-height-smaller: 18px;

$grid-float-breakpoint:     1000px;
