// base
@import "bootstrap-sprockets";
$brand-primary: #966fd6;
$brand-primary-lighter:   lighten($brand-primary, 30%);
$brand-primary-light:   lighten($brand-primary, 15%);
$brand-primary-dark:    darken($brand-primary, 15%);
$brand-primary-darker:    darken($brand-primary, 30%);

$container-sm: 768px;
$container-desktop: 768px;
$container-lg: 768px;

$input-border: #eeeeee;

@import "bootstrap";

$font-size-smaller: ceil(($font-size-base * 0.70));
$line-height-smaller: 18px;

@import "jssocials";
@import "lightslider";
@import "project_step1";
@import "project_step2";


* , body {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Helvetica Neue', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
}

.form-control.error {
  border-color: $brand-danger;
}

#hiddenRecaptcha-error {
  color: $brand-danger;
  font-weight: bold;
}

.g-recaptcha {
  transform: scale(0.88);
  -webkit-transform: scale(0.88);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}



