// base
@import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";

$font-size-smaller: ceil(($font-size-base * 0.70));
$line-height-smaller: 18px;

@import "jssocials";
@import "lightslider";
@import "bbs";
@import "debate";
@import "navbar";

body.retired {
  @import "project_step1";
  @import "project_step2";
  @import "project_step3";
  @media (min-width: 1200px) {
    .container {
      width: 768px;
    }
  }
}

* , body {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Helvetica Neue', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
  @media (min-width: 1200px) {
    .container {
      width: 900px;
    }
  }
}

.form-control.error {
  border-color: $brand-danger;
}

#hiddenRecaptcha-error {
  color: $brand-danger;
  font-weight: bold;
}

.g-recaptcha,
.bubble-recaptcha {
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
}



