$brand-primary: #966fd6;
$brand-primary-lighter:   lighten($brand-primary, 30%);
$brand-primary-light:   lighten($brand-primary, 15%);
$brand-primary-dark:    darken($brand-primary, 15%);
$brand-primary-darker:    darken($brand-primary, 30%);

$container-sm: 768px;
$container-desktop: 768px;
$container-lg: 768px;

$input-border: #eeeeee;
$brand-red-color: #ec6941;
$brand-green-color: #89c997;
$brand-lime-color: #32b16c;
$brand-base-color: #eaf4eb;
$brand-cyan-color: #84ccc9;
$brand-base-color: #eaf4eb;
