%section#steps
  .container
    %ul.nav.nav-pills
      %li{class: ('active' if current_page? step1_path)}
        = link_to step1_path do
          법안 선택
      %li{class: ('active' if current_page? root_path)}
        = link_to root_path do
          정당 만들기
      %li
        %a{:href => "#comments"}
          ?
    - if user_signed_in?
      .logout
        = link_to '로그아웃', destroy_user_session_path, method: :delete
