%ul.share-box.list-inline
  - base_data = {action: 'bubble-share', 'share-url': root_url, 'share-text': meta_tags['description'] }
  - %w(facebook twitter kakao-link kakao-story).each do |provider|

    - data = base_data.merge('share-provider': provider)

    - if provider == 'kakao-link'
      - hide_kakao_link = (! browser.device.mobile?) ? ' hide' : ''
      - data = data.merge('share-image': meta_tags['image'], 'share-image-width': '1200', 'share-image-height': '630')
    - if provider == 'twitter'
      - data = data.merge('share-text': "#GMO완전표시제 입법 쟁점 토론 #나는알아야겠당 발의안 쟁점 알아보기 http://up.parti.xyz - #바글시민와글입법 - 한겨레21x빠띠 @han21_editor @parti_xyz")
    %li.share-item{class: "share-#{provider}#{hide_kakao_link}", data: data }
      - if provider == 'kakao-story'
        = image_tag 'icon_kas.png', class: 'icon-kas'
      - if provider == 'kakao-link'
        = image_tag 'icon_katalk.png', class: 'icon-katalk'
